<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar" class="bg-dark text-white">
        <div class="sidebar-header text-center d-flex align-items-center">
            <img src="assets/images/Logo_Covoiturage.png" class="logosite" alt="Logo" />
            <h1 class="ms-2 mb-0">CoSharing</h1>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a routerLink="/" class="text-white">
                    <i class="bi bi-house-door"></i> Home
                </a>
            </li>
            <li>
                <a routerLink="/profile" class="text-white">
                    <i class="bi bi-person-circle"></i> Profile
                </a>
            </li>
            <li>
                <a routerLink="/security" class="text-white">
                    <i class="bi bi-chat-dots-fill"></i> Chat
                </a>
            </li>
            

            <!-- Menu Toggle for Add, Cancel, and Update Ride -->
            <li>
                <a href="#rideSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-white">
                    <i class="bi bi-car-front"></i> Manage Rides
                </a>
                <ul class="collapse list-unstyled" id="rideSubmenu">
                    <a routerLink="/add-ride" class="text-white"><i class="bi bi-plus-circle-fill"></i> Add Ride</a>
                    <a routerLink="/cancel-ride" class="text-white"><i class="bi bi-x-circle"></i> My Rides List</a>
                    
                </ul>
            </li>

            <!-- Menu Toggle for Settings -->
            <li>
                <a href="#settingsSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-white">
                    <i class="bi bi-gear"></i> Settings
                </a>
                <ul class="collapse list-unstyled" id="settingsSubmenu">
                    <a routerLink="/change-password" class="text-white"><i class="bi bi-key"></i> Change Password</a>
                    <a routerLink="/delete-account" class="text-white"><i class="bi bi-trash"></i> Delete Account</a>
                    <a routerLink="/logout" class="text-white"><i class="bi bi-box-arrow-right"></i> Logout</a>
                </ul>
            </li>
        </ul>
    </div>
</div>
