<aside
    class="bg-gradient-to-br from-gray-800 to-gray-900 -translate-x-80 fixed inset-0 z-50 my-4 ml-4 h-[calc(100vh-32px)] w-72 rounded-xl transition-transform duration-300 xl:translate-x-0">
    <div class="relative border-b border-white/20">
        <a class="flex items-center gap-4 py-6 px-8" href="#/">
            <img src="assets/images/Logo_Covoiturage.png" class="logo h-8" />
            <h2 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-white">
                CarSharing
            </h2>
        </a>

        <button
            class="middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-8 max-w-[32px] h-8 max-h-[32px] rounded-lg text-xs text-white hover:bg-white/10 active:bg-white/30 absolute right-0 top-0 grid rounded-br-none rounded-tl-none xl:hidden"
            type="button">
            <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                    stroke="currentColor" aria-hidden="true" class="h-5 w-5 text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </span>
        </button>
    </div>
    <div class="m-4">
        <ul class="mb-4 flex flex-col gap-1">
            <li>
                <a routerLink="/dashboardadmin">
                    <button
                        routerLinkActive="bg-gradient-to-tr from-blue-600 to-blue-400 shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-[0.85]"
                        class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 flex w-full items-center gap-4 px-4 capitalize"
                        type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                            aria-hidden="true" class="w-5 h-5 text-inherit">
                            <path
                                d="M20.24 9.23a2.25 2.25 0 00-1.64-1.02l-1.29-.44a4.505 4.505 0 00-.63-1.2l-.78-1.28c-.17-.27-.44-.47-.75-.56-.42-.13-.88-.1-1.27.11L13.5 6.75a3.5 3.5 0 00-3 0l-4.5 2.5c-.4-.21-.85-.24-1.27-.11-.31.09-.58.29-.75.56l-.78 1.28a4.505 4.505 0 00-.63 1.2l-1.29.44a2.25 2.25 0 00-1.64 1.02 2.25 2.25 0 00-.3 2.09l1.61 3.22A2.25 2.25 0 005.25 16h13.5a2.25 2.25 0 001.67-1.41l1.61-3.22a2.25 2.25 0 00-.3-2.09zM6 13v-2.25a.75.75 0 011.5 0V13a.75.75 0 01-.75.75H6a.75.75 0 01-.75-.75zm12 0v-2.25a.75.75 0 011.5 0V13a.75.75 0 01-.75.75h-2.25a.75.75 0 01-.75-.75z">
                            </path>
                        </svg>
                        <p
                            class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">
                            Book a ride
                        </p>
                    </button>

                </a>
            </li>
            <li>
                <a routerLink="/profileadmin">
                    <button
                        routerLinkActive="bg-gradient-to-tr from-blue-600 to-blue-400 shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-[0.85]"
                        class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 flex w-full items-center gap-4 px-4 capitalize"
                        type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                            aria-hidden="true" class="w-5 h-5 text-inherit">
                            <path fill-rule="evenodd"
                                d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <p
                            class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">
                            profile</p>
                    </button>
                </a>
            </li>
            <li>
                <a routerLink="/manageusers">
                    <button
                        routerLinkActive="bg-gradient-to-tr from-blue-600 to-blue-400 shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-[0.85]"
                        class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 flex w-full items-center gap-4 px-4 capitalize"
                        type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                            aria-hidden="true" class="w-5 h-5 text-inherit">
                            <path fill-rule="evenodd"
                                d="M17.27 6.73C16.44 5.87 15.3 5.5 14 5.5c-1.3 0-2.44.37-3.27 1.23C9.45 7.11 9 8.34 9 9.5c0 .4.11.78.31 1.11C7.45 11.17 6 13.26 6 15.5c0 2.48 2.02 4.5 4.5 4.5 1.53 0 2.88-.75 3.69-1.92C15.6 18.35 16.74 19 18 19c1.65 0 3-1.35 3-3 0-1.03-.54-1.94-1.33-2.45-.03-.49-.12-.98-.12-1.51 0-3.3-2.7-6-6-6-.24 0-.47.02-.7.05-.12-1.34-1.2-2.39-2.55-2.39-1.71 0-3.1 1.39-3.1 3.1 0 .91.34 1.73.88 2.33-.52.21-.91.61-1.12 1.12-.35-.2-.72-.31-1.11-.31C5.02 10.5 4 12.52 4 14c0 2.48 2.02 4.5 4.5 4.5 2.48 0 4.5-2.02 4.5-4.5 0-.58-.11-1.13-.31-1.63C13.2 9.78 14.5 9 16 9c1.7 0 3.13 1.19 3.61 2.73C19.88 12.11 20 13.3 20 14c0 1.1-.9 2-2 2-1.1 0-2-.9-2-2 0-.64-.34-1.17-.86-1.48z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <p
                            class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">
                            Weather
                        </p>
                    </button>


                </a>
            </li>
            <li>
                <a class="" href="#">
                    <button
                        class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize"
                        type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                            aria-hidden="true" class="w-5 h-5 text-inherit">
                            <path fill-rule="evenodd"
                                d="M12 2.25c-.43 0-.86.1-1.24.28l-6 3a2.25 2.25 0 00-1.26 2.02V17a2.25 2.25 0 001.26 2.02l6 3a2.25 2.25 0 002.48 0l6-3a2.25 2.25 0 001.26-2.02V7.5a2.25 2.25 0 00-1.26-2.02l-6-3a2.25 2.25 0 00-1.24-.28zM12 15.75a.75.75 0 01-.75-.75V9a.75.75 0 111.5 0v6a.75.75 0 01-.75.75z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <p
                            class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">
                            Maps</p>
                    </button>

                </a>

            </li>
            <li>
                <a class="" href="#">
                    <button
                        class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize"
                        type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                            aria-hidden="true" class="w-5 h-5 text-inherit">
                            <path fill-rule="evenodd"
                                d="M9 2a2 2 0 00-2 2v14a2 2 0 002 2h6a2 2 0 002-2V4a2 2 0 00-2-2H9zm0 2h6v14H9V4zm0 14h6a2 2 0 002-2V6H7v10a2 2 0 002 2zm6 0H9a2 2 0 01-2-2V6a2 2 0 012-2h6a2 2 0 012 2v10a2 2 0 01-2 2z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <p
                            class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">
                            Chat</p>
                    </button>
                </a>

            </li>
        </ul>
        <ul class="mb-4 flex flex-col gap-1">
            <li class="mx-3.5 mt-4 mb-2">
                <p
                    class="block antialiased font-sans text-sm leading-normal text-white font-black uppercase opacity-75">
                    auth pages</p>
            </li>
            <li>
                <a class="" href="#">
                    <button
                        class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize"
                        type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                            aria-hidden="true" class="w-5 h-5 text-inherit">
                            <path fill-rule="evenodd"
                                d="M7.5 3.75A1.5 1.5 0 006 5.25v13.5a1.5 1.5 0 001.5 1.5h6a1.5 1.5 0 001.5-1.5V15a.75.75 0 011.5 0v3.75a3 3 0 01-3 3h-6a3 3 0 01-3-3V5.25a3 3 0 013-3h6a3 3 0 013 3V9A.75.75 0 0115 9V5.25a1.5 1.5 0 00-1.5-1.5h-6zm10.72 4.72a.75.75 0 011.06 0l3 3a.75.75 0 010 1.06l-3 3a.75.75 0 11-1.06-1.06l1.72-1.72H9a.75.75 0 010-1.5h10.94l-1.72-1.72a.75.75 0 010-1.06z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <p
                            class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">
                            sign out</p>
                    </button>
                </a>
            </li>

        </ul>
    </div>
</aside>