
<div class="context">

    <div class="imagediv">
        <img src="assets/images/home1.png" class="image1" />
    </div>
    <div class="textdiv">

        <h1><!--Empowering Employers and Job Seekers to Connect and Grow. -->
            Welcome to CarSharing !
        </h1>
        <h3>On the road together, for the planet.</h3>
        <div class="container-fluid d-flex justify-content-center align-items-center">
            <button type="button" class="btn custom-btn" (click)="navigateToLoginPage()">Sign In or Signup Now !</button>
        </div>
    </div>
</div>

<div class="area">



    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>